<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Member to the Club</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Member Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Member Email:</label>
        <br>
        <input #newEmail>
      </div>

      <div>
        <label>Member Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>
      <div>
        <label>Member External Link:</label>
        <br>
        <input #newExternalLink>
      </div>
      <button (click)="submitForm(newName.value,
      newDescription.value, newEmail.value, newExternalLink.value);newName.value=''; newEmail.value=''; newDescription.value=''; newExternalLink.value='';">Add</button>
    </div>
  </div>
</div>
