<h3>Edit Member</h3>
<form>
  <div class="form-group">

    <label>New Member Name:</label>
    <input [(ngModel)]="selectedMemberName" class="form-control">
    <br>
  </div>

    <label>New Member Artist:</label>
    <input [(ngModel)]="selectedMemberDescription" class="form-control">
    <br>

    <label>New Member Description:</label>
    <input [(ngModel)]="selectedMemberEmail" class="form-control">
    <br>

    <label>New Member External Link:</label>
    <input [(ngModel)]="selectedMemberLink" class="form-control">
    <br>

  <button (click)="beginUpdatingMember(selectedMember)" type="submit" class="btn btn-warning">Update</button>

  <button (click)="beginDeletingMember(selectedMember)" type="submit" class="btn btn-danger" >Delete</button>
</form>
